body { 
  margin: 0; 
  padding: 0; 
  font-family: sans-serif; 
} 
h3{
  margin: 10px;
}
.mymargin1{ 
  margin-right: 10px; 
 
} 
 .mytext-large { 
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; 
    font-size: 25px; 
  } 
    .mytext-extra-large { 
    font-size: 28px; 
  } 
  .mytext-center { 
    text-align: center; 
  } 
  .mywhite { 
    color:white; 
  } 
  
 
  .navbar .nav-link.mywhite {
    color: #ecf0f1 !important; /* Light Gray */
    font-weight: 600;
   
    padding: 10px 18px;
    border-radius: 6px;
    margin: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    display: flex;
    align-items: center;
  }
  
  /* Hover Effect */
  .navbar .nav-link.mywhite:hover {
    color: #f5e39a !important; /* Gold */
    background-color: rgba(248, 244, 228, 0.2);
    font-size: 18px;
    text-shadow: 1px 1px 4px rgba(234, 148, 245, 0.918);
    transform: scale(1.05);
  }
  
  /* Active Link Style */
  .navbar .nav-link.mywhite.active {
    color: #ffffff !important;
    background-color: rgba(241, 196, 15, 0.3);
    border-bottom: 3px solid #f1c40f;
    box-shadow: 0px 2px 5px rgba(255, 215, 0, 0.5);
    padding-bottom: 6px;
  }
  
  /* Navbar List Alignment */
  .navbar-nav {
    display: flex;
    gap: 20px;
  }
  .myfloat-right{ 
    float: right; 
  }  
  .myfloat-left{ 
    float: left; 
  }